<div *ngIf="inEditMode; then editMode; else staticMode"></div>

<ng-template #editMode>
    <div class="table-row-item" [@flyInOut]="in">
        <div class="dot"></div>
    </div>
    <div class="table-row-item idea-title-row" [@flyInOut]="in">
        <input #contentInput type="text" class="idea-title" [(ngModel)]="ideaClone.content" appAutoFocus>
        <div class="hr hr-idea-margin" [class.hr-idea-margin-error]="contentEmpty"></div>
    </div>
    <div class="table-row-item number-input" [@flyInOut]="in">
        <div class="number-arrow-group">
            <input #impactInput type="number" class="number-selector" min="0" max="10" [(ngModel)]="ideaClone.impact">
            <div class="number-arrow top-arrow" (click)="changeValue(impactInput, ideaClone, 'impact', 1)">
                <i class="plus"></i>
            </div>
            <div class="number-arrow bottom-arrow" (click)="changeValue(impactInput, ideaClone, 'impact', -1)">
                <i></i>
            </div>
        </div>
    </div>
    <div class="table-row-item number-input" [@flyInOut]="in">
        <div class="number-arrow-group">
            <input #easeInput type="number" class="number-selector" min="0" max="10" [(ngModel)]="ideaClone.ease">
            <div class="number-arrow top-arrow" (click)="changeValue(easeInput, ideaClone, 'ease', 1)">
                <i class="plus"></i>
            </div>
            <div class="number-arrow bottom-arrow" (click)="changeValue(easeInput, ideaClone, 'ease', -1)">
                <i></i>
            </div>
        </div>
    </div>
    <div class="table-row-item number-input" [@flyInOut]="in">
        <div class="number-arrow-group">
            <input #confidenceInput type="number" class="number-selector" min="0" max="10" [(ngModel)]="ideaClone.confidence">
            <div class="number-arrow top-arrow" (click)="changeValue(confidenceInput, ideaClone, 'confidence', 1)">
                <i class="plus"></i>
            </div>
            <div class="number-arrow bottom-arrow" (click)="changeValue(confidenceInput, ideaClone, 'confidence', -1)">
                <i></i>
            </div>
        </div>
    </div>
    <div class="table-row-item" [@flyInOut]="in">{{ideaClone.average_score | number}}</div>
    <div class="table-row-item" [@flyInOut]="in">
        <img class="btn center-block" src="/assets/Confirm_V.png" srcset="/assets/Confirm_V@2x.png 2x" (click)="saveIdea()">
    </div>
    <div class="table-row-item" [@flyInOut]="in">
        <img class="btn center-block" src="/assets/Cancel_X.png" srcset="/assets/Cancel_X@2x.png 2x" (click)="revertIdea()">
    </div>
</ng-template>

<ng-template #staticMode>
    <div class="table-row-item">
        <div class="dot"></div>
    </div>
    <div class="table-row-item idea-title-row">{{idea.content}}</div>
    <div class="table-row-item dropbox">{{idea.impact}}</div>
    <div class="table-row-item">{{idea.ease}}</div>
    <div class="table-row-item">{{idea.confidence}}</div>
    <div class="table-row-item">{{idea.average_score | number}}</div>
    <div class="table-row-item">
        <img class="btn center-block hover-image" src="/assets/pen.png" srcset="/assets/pen@2x.png 2x" (click)="editIdea()">
    </div>
    <div class="table-row-item">
        <img class="btn center-block hover-image" src="/assets/bin.png" srcset="/assets/bin@2x.png 2x" (click)="deleteIdea()">
    </div>
</ng-template>